USE [master]
GO
/****** Object:  Database [ContractManager]    Script Date: 4/8/2023 7:42:59 PM ******/
CREATE DATABASE [ContractManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContractManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\ContractManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContractManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\ContractManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContractManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContractManager]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](30) NULL,
	[CID] [varchar](12) NULL,
	[Password] [varchar](30) NULL,
	[Fullname] [nvarchar](50) NULL,
	[Phone] [varchar](30) NULL,
	[Avartar] [varchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoardManager]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardManager](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](30) NULL,
	[CID] [varchar](12) NULL,
	[Password] [varchar](30) NULL,
	[Fullname] [nvarchar](50) NULL,
	[Phone] [varchar](30) NULL,
	[Avartar] [varchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[CoID] [int] IDENTITY(1,1) NOT NULL,
	[RoID] [int] NULL,
	[UID] [int] NULL,
	[OID] [int] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractInformation]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractInformation](
	[CoID] [int] NOT NULL,
	[RentalFee] [int] NULL,
	[SystemFee] [int] NULL,
	[CreateDate] [date] NULL,
	[EndDate] [date] NULL,
	[Name] [nvarchar](70) NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[CoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](30) NULL,
	[CID] [varchar](12) NULL,
	[Password] [varchar](30) NULL,
	[DateOfBirth] [date] NULL,
	[Fullname] [nvarchar](50) NULL,
	[Phone] [varchar](30) NULL,
	[Avartar] [varchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[RpID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NULL,
	[OID] [int] NULL,
	[content] [nvarchar](1000) NULL,
	[createDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NULL,
	[OID] [int] NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomImage]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomImage](
	[RoID] [int] NOT NULL,
	[ImgPath] [varchar](100) NOT NULL,
 CONSTRAINT [PK_RoomPicture] PRIMARY KEY CLUSTERED 
(
	[RoID] ASC,
	[ImgPath] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/8/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](30) NULL,
	[CID] [varchar](12) NULL,
	[Password] [varchar](30) NULL,
	[DateOfBirth] [date] NULL,
	[Fullname] [nvarchar](50) NULL,
	[Phone] [varchar](30) NULL,
	[Avartar] [varchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AID], [Email], [CID], [Password], [Fullname], [Phone], [Avartar], [Address], [status]) VALUES (1, N'admin@gmail.com', N'095160917912', N'123456', N'Cristiano Ronaldo ABC', N'0396816536', N'1679594636749.jfif', N'215 Nguyễn Hữu Cảnh, Phường 19, Quận 7, TP. Hồ Chí Minh', 1)
INSERT [dbo].[Admin] ([AID], [Email], [CID], [Password], [Fullname], [Phone], [Avartar], [Address], [status]) VALUES (3, N'adminb@gmail.com', N'070989098989', N'123', N'Lionel Messi', N'0080330740', N'linkava', N'165 Trương Định, Phường 6, Quận 3, TP. Hồ Chí Minh
', 1)
INSERT [dbo].[Admin] ([AID], [Email], [CID], [Password], [Fullname], [Phone], [Avartar], [Address], [status]) VALUES (10, N'adminh@gmail.com', N'299898989891', N'123', N'NeymarJr', N'0241548684', N'linkava', N'330 Bàu Cát, Phường 14, Quận Tân Bình, TP. Hồ Chí Minh
', 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[BoardManager] ON 

INSERT [dbo].[BoardManager] ([BID], [Email], [CID], [Password], [Fullname], [Phone], [Avartar], [Address], [Status]) VALUES (1, N'chutich@gmail.com', N'095204500162', N'123', N'Dương Chủ Tịch', N'0781162351', N'1679356096543.jpg', N'509 Dương Quảng Hàm, Phường 5, Quận Gò Vấp, TP. Hồ Chí Minh', 1)
INSERT [dbo].[BoardManager] ([BID], [Email], [CID], [Password], [Fullname], [Phone], [Avartar], [Address], [Status]) VALUES (2, N'phochutich@gmail.com', N'095160560631', N'123', N'Minh Phó Chủ Tịch', N'0946614723', NULL, N'1389 Đinh Bộ Lĩnh, Phường 26, Quận Bình Thạnh, TP. Hồ Chí Minh
', 1)
SET IDENTITY_INSERT [dbo].[BoardManager] OFF
GO
SET IDENTITY_INSERT [dbo].[Contract] ON 

INSERT [dbo].[Contract] ([CoID], [RoID], [UID], [OID], [Status]) VALUES (1, 8, 3, 1, 1)
INSERT [dbo].[Contract] ([CoID], [RoID], [UID], [OID], [Status]) VALUES (2, 9, 4, 1, 1)
INSERT [dbo].[Contract] ([CoID], [RoID], [UID], [OID], [Status]) VALUES (3, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Contract] OFF
GO
INSERT [dbo].[ContractInformation] ([CoID], [RentalFee], [SystemFee], [CreateDate], [EndDate], [Name], [Description]) VALUES (1, 1200, 12000, CAST(N'2017-10-12' AS Date), CAST(N'2023-10-12' AS Date), N'Hop dong thue nha 1', N'hop dong thue')
INSERT [dbo].[ContractInformation] ([CoID], [RentalFee], [SystemFee], [CreateDate], [EndDate], [Name], [Description]) VALUES (2, 10000, 500000, CAST(N'2023-02-10' AS Date), CAST(N'2025-02-10' AS Date), N'Hop Dong Thue Nha 2', N'Hop Dong thue nha ')
INSERT [dbo].[ContractInformation] ([CoID], [RentalFee], [SystemFee], [CreateDate], [EndDate], [Name], [Description]) VALUES (3, 200, 12000, CAST(N'2022-11-22' AS Date), CAST(N'2023-11-30' AS Date), N'Hop Dong Thue Nha 3', N'hop dong thue nha')
GO
SET IDENTITY_INSERT [dbo].[Owner] ON 

INSERT [dbo].[Owner] ([OID], [Email], [CID], [Password], [DateOfBirth], [Fullname], [Phone], [Avartar], [Address], [Status]) VALUES (1, N'owner@gmail.com', N'194871596479', N'123456', CAST(N'1998-12-28' AS Date), N'Di Bình  AB', N'0965386808', N'1679356296534.jpg', N'174 Lê Quang Định, Phường 14, Quận Bình Thạnh, TP. Hồ Chí Minh', 1)
INSERT [dbo].[Owner] ([OID], [Email], [CID], [Password], [DateOfBirth], [Fullname], [Phone], [Avartar], [Address], [Status]) VALUES (2, N'leuhan@gmail.com', N'025717456359', N'123', CAST(N'1993-02-15' AS Date), N'Huỳnh Tiến Võ', N'0443287566', NULL, N'1679 Thống Nhất, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh
', 1)
INSERT [dbo].[Owner] ([OID], [Email], [CID], [Password], [DateOfBirth], [Fullname], [Phone], [Avartar], [Address], [Status]) VALUES (3, N'duongdduong@gmail.com', N'095202500666', N'123', CAST(N'1991-12-12' AS Date), N'Dương Đông Dương', N'0582602202
', NULL, N'687 Trần Quang Khải, Phường Tân Định, Quận 1, TP. Hồ Chí Minh
', 1)
SET IDENTITY_INSERT [dbo].[Owner] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoID], [UID], [OID], [status]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Room] ([RoID], [UID], [OID], [status]) VALUES (2, 2, 1, 1)
INSERT [dbo].[Room] ([RoID], [UID], [OID], [status]) VALUES (3, 3, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
INSERT [dbo].[RoomImage] ([RoID], [ImgPath]) VALUES (1, N'1679347025888.JPG')
INSERT [dbo].[RoomImage] ([RoID], [ImgPath]) VALUES (1, N'1679347037823.JPG')
INSERT [dbo].[RoomImage] ([RoID], [ImgPath]) VALUES (2, N'1679348888688.jpg')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UID], [Email], [CID], [Password], [DateOfBirth], [Fullname], [Phone], [Avartar], [Address], [Type], [Status]) VALUES (1, N'user@gmail.com', N'002574940211', N'123456', CAST(N'2004-11-14' AS Date), N'Lê Hoàng Long', N'0269170153', N'default_avatar.png', N'12851 Bàu Cát, Phường 14, Quận Tân Bình, TP. Hồ Chí Minhh', 1, 1)
INSERT [dbo].[User] ([UID], [Email], [CID], [Password], [DateOfBirth], [Fullname], [Phone], [Avartar], [Address], [Type], [Status]) VALUES (2, N'ngminhtuan@gmail.com', N'806187098593', N'123', CAST(N'2000-10-25' AS Date), N'Nguyễn Minh Tuấn', N'0432832709', NULL, N'1413 Nguyễn Xí, Phường 26, Quận Bình Thạnh, TP. Hồ Chí Minh
', 1, 1)
INSERT [dbo].[User] ([UID], [Email], [CID], [Password], [DateOfBirth], [Fullname], [Phone], [Avartar], [Address], [Type], [Status]) VALUES (3, N'trandinhtu@gmail.com', N'017033282167', N'123', CAST(N'1999-12-02' AS Date), N'Trần Đình Tú', N'0507688538', NULL, N'1925 Nguyễn Công Trứ, Phường Nguyễn Thái BÌnh, Quận 1, TP. Hồ Chí Minh
', 1, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD FOREIGN KEY([OID])
REFERENCES [dbo].[Owner] ([OID])
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD FOREIGN KEY([RoID])
REFERENCES [dbo].[Room] ([RoID])
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[User] ([UID])
GO
ALTER TABLE [dbo].[ContractInformation]  WITH CHECK ADD FOREIGN KEY([CoID])
REFERENCES [dbo].[Contract] ([CoID])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([OID])
REFERENCES [dbo].[Owner] ([OID])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[User] ([UID])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([OID])
REFERENCES [dbo].[Owner] ([OID])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[User] ([UID])
GO
ALTER TABLE [dbo].[RoomImage]  WITH CHECK ADD FOREIGN KEY([RoID])
REFERENCES [dbo].[Room] ([RoID])
GO
USE [master]
GO
